@using System.Drawing
@using Osekai.Octon.Drawing
@using Osekai.Octon.Extensions
@using Osekai.Octon.WebServer
@using Osekai.Octon.WebServer.Helpers
@using Osekai.Octon.WebServer.Pages.Partials
@model Osekai.Octon.WebServer.Pages.AppBaseLayout

@{
    Layout = "BaseLayout";

    RgbColour color = Model.AccentOvveride?.Color ?? Model.CurrentAppTheme!.Color;
    RgbColour darkColor = Model.AccentOvveride?.DarkColor ?? Model.CurrentAppTheme!.DarkColor;

    HslColour colorHslColour = color.ToHsl();
    HslColour darkColorHslColour = darkColor.ToHsl();
}
 
@section HeadExtension 
{
    <link rel="stylesheet" href="@StringWithVersionQueryHtmlContent.Create($"/static/{Model.CurrentApp.SimpleName}/css/main.css")" />
    @if (Model.CurrentApp.Experimental) {<link rel="stylesheet" href="@StringWithVersionQueryHtmlContent.Create($"/static/shared/css/experimental/main.css")" />}
    <style>
    html{
        --accentdark: @($"{darkColor.R},{darkColor.G},{darkColor.B}");
        --accent: @($"{color.R},{color.G},{color.B}");
        --accentdark_hue: @(darkColorHslColour.H)deg;
        --accent_hue: @(colorHslColour.H)deg;
        --accentdark_saturation: @(darkColorHslColour.S)%;
        --accent_saturation: @(colorHslColour.S)%;
        --accentdark_value: @(darkColorHslColour.L)%;
        --accent_value: @(colorHslColour.L)%;
        --accentdark_valueoffset: @(Model.CurrentAppTheme!.DarkHslValueMultiplier);
        --accent_valueoffset: @(Model.CurrentAppTheme!.HslValueMultiplier);
    }
    </style>
    
    @await Html.PartialAsync("Partials/Tippy")

    <style id="custom_theme_container"></style>
    <script>    
        const christmas = "0";
        const medals = @(Json.Serialize(Model.AppBaseLayoutMedals));
        const nAppId = "@Model.CurrentApp.Id";
        const version = "@Constants.Version";
        const nUserID = @(Model.CurrentOsuUser?.Id ?? -1);
        const nUsername = "@(Model.CurrentOsuUser?.Username ?? "guest")";
        const nRights = 2;
        const userGroups = @(Json.Serialize(Model.AppBaseLayoutUserGroups));
        const currentlyApp = "@(Model.CurrentApp.SimpleName)";
        const apps = @(Json.Serialize(Model.AppBaseLayoutApps));
        const medalAmount = medals.length;
        const experimental = @(Model.Experimental ? "true" : "false");
        const locales = @(Json.Serialize(Model.AppBaseLayoutLocales));
        const sourcesNames = ["groups","report","apps","badges","comments","faq","general","home","medals","navbar","profiles","rankings","snapshots","donate","contact","misc/translators","misc/groups","misc/global"];
        const currentLocale = locales["@(Model.CurrentLocale.LanguageCode)"];
    </script>
    
    @if (IsSectionDefined("AppHeadExtension"))
    {
        @await RenderSectionAsync("AppHeadExtension")
    }
}

<body>
    @if (Model.ShowNavbar)
    {
        @await Html.PartialAsync("Partials/Navbar", 
            new NavbarPartial(
                Model.CurrentLocale.Localizator, Model.CurrentApp, Model.Apps, 
                Model.AppBaseLayoutApps, Model.CurrentOsuUser,
                Model.Experimental))
    }
</body>

@RenderBody()